body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    border: 2px solid #000000;
    padding: 20px;
    border-radius: 8px;
}

.tag {
    background: #eee;
    padding: 3px 8px;
    border-radius: 6px;
    font-size: 12px;
    margin-right: 5px;
}

h2 {
    margin-top: 10px;
}

.btn-info,
.btn-inscrever {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.btn-info {
    background: #f2f2f2;
}

.btn-inscrever {
    background: #ff0015;
    color: white;
}
