body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    text-align: right;
    padding: 20px;
    color: rgb(0, 0, 0);
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    border: 2px solid #000000;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
}

.tag {
    
    background: #ffffff;
    padding: 3px 8px;
    border-radius: 10px;
    font-size: 12px;
    margin-right: 5px;
    border: 2px solid #000000
    
}

h2 {
    margin-top: 10px;
}

.btn-info,
.btn-inscrever {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.btn-info {
    width: 180px;
    height:40px;
    margin: 0 auto;
    border-radius: 40px;
    background: #ffffff;
    color: #ff0000;
    border: 2px solid rgb(255, 0, 0)
    
}

.btn-inscrever {
    width: 180px;
    height:40px;
    margin: 0 auto;
    margin-top: 15px;
    background: #ff0000;
    color: white;
    border-radius: 40px;
}

.logo {
    height: 30px;
    width: 95px;
    display: block;
    margin-top: 100px;
    position: absolute;

}
